{% extends 'nav_con.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>
	
 
		

		

		<!-- Start Hospital Details Area -->
		<div class="hospital-details-area ptb-100">
			<div class="container">
				
				

				<div class="row">
					
					<table class="table">
                        <thead>
							
                            <tr>
                                <th>Id</th>
                                <th>Date</th>
                                <th>Med</th>
                               
                              
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>{{ reservation.id }}</td>
                                <td>{{ reservation.date ? reservation.date|date('Y-m-d') : '' }}</td>
                                <td>{{ reservation.users }}</td>
                               
                              
                               
                                <td>
                                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                
                   
					
				</div>
			</div>
		</div>
		<!-- End Hospital Details Area -->

	


    </body>

{% endblock %}