{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}

    <body>
	

		<!-- Start Header Area -->
		<div class="top-header-area bg-color-091c47">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<ul class="header-left-content">
							<li>
								<span>Phone:</span>
								<a href="tel:1-885-665-2022">1-885-665-2022</a>
							</li>
							<li>
								<span>Email:</span>
								<a href="https://templates.envytheme.com/cdn-cgi/l/email-protection#2f464149406f4d4a5746014c4042"><span class="__cf_email__" data-cfemail="452c2b232a0527203d2c6b262a28">[email&#160;protected]</span></a>
							</li>
							<li>
								<span>Mon-Sat:</span>
								8:00AM - 7:00PM
							</li>
						</ul>
					</div>

					<div class="col-lg-4">
						<ul class="header-right-content">
							<li>
								<i class="ri-user-3-line"></i>
								<a href="my-account.html">Login</a>
							</li>
							<li>
								<select class="form-select" aria-label="Default select example">
									<option selected>English</option>
									<option value="1">China</option>
									<option value="2">العربيّة</option>
									<option value="3">Germany</option>
									<option value="4">Portugues</option>
								</select>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End Header Area -->

		

		<!-- Start Page Banner Area -->
		<div class="page-banner-area bg-10 pt-100">
			<div class="container">
				<div class="page-banner-content">
					<h2> {{ all.nom }}</h2>
					<ul>
                        <li>
							<a href="{{path('app_reservation_index')}}">
								<i class="ri-home-8-line"></i>
								Display Consultation 
							</a>
						</li>
						<li>
							<a href="{{path('app_reservation_specialite')}}">
								<i class="ri-home-8-line"></i>
								Return 
							</a>
						</li>
						<li>
							<span>{{ all.nom }}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- End Page Banner Area -->

		<!-- Start Hospital Details Area -->
		<div class="hospital-details-area ptb-100">
			<div class="container">
				<div class="row">
                    <table class="table">
                        <tbody>
                       
                               
                                <tr>
                                    <th>Id</th>
                                   
                                    <th>Med</th>
                                   
                                  
                                   
                                </tr>
                                {% for i in med %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                   
                                    <td>{{ i.nom }}</td>
                                   
									<td><a href="{{ path('app_reservation_new' , {'id': i.id} ) }}">Continue</a> </td>
                                
                                </tr>
                         
							
                            {% endfor %}

              
                        </tbody>
                    </table>
                    
					
					
				</div>
			</div>
		</div>


	

		<!-- Start Dark Mode Area -->
		<div class="dark-mode-btn">
			<div class="container">
				<div class="dark-version">
					<label id="switch" class="switch">
						<input type="checkbox" onchange="toggleTheme()" id="slider">
						<span class="slider round"></span>
					</label>
				</div>
			</div>
		</div>
		<!-- End Dark Mode Area -->

	

		<!-- Start Copyright Area -->
		<div class="copy-right-area">
			<div class="container">
				<p>© TechNess<a href="https://envytheme.com/" target="_blank">Team</a></p>
			</div>
		</div>
		<!-- End Copyright Area -->

		<!-- Start Go Top Area -->
		<div class="go-top">
			<i class="ri-arrow-up-s-fill"></i>
			<i class="ri-arrow-up-s-fill"></i>
		</div>
		<!-- End Go Top Area -->


    </body>

{% endblock %}