{% extends 'back_office/base.html.twig' %}
{% block content %}

<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
<!-- begin:: card -->
<div  class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        <div  class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            <div  class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <!-- begin:: card -->
                <div style="margin-right: 300px" class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

                    <!--begin:: Widgets/Applications/User/Profile3-->
                    {% for u in user %}
                        {% if u.roles == ["ROLE_PATIENT"] %}
                    <div style="margin-bottom: 20px" class="kt-portlet">

                      <div class="row" >
                        <div  class="kt-portlet__body">

                            <div  class="kt-widget kt-widget--user-profile-3">
                                <div class="kt-widget__top">
                                    <div class="kt-widget__media kt-hidden-">
                                        <img src="{{ asset('/uploads/'~u.image) }}" alt="image">
                                    </div>
                                    <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-font-light kt-hidden">
                                        JM
                                    </div>
                                    <div class="kt-widget__content">

                                        <div class="kt-widget__head">
                                            <a href="#" class="kt-widget__username">
                                                {{u.nom}}-{{u.prenom}}
                                               
                                            </a>
                                            <div class="kt-widget__action">
                                                     <a href="{{ path('banPatient', {'id': u.id}) }}" style="margin-left: 360px" type="button" class="btn btn-label-danger">Delete</a>&nbsp;
                                             </div>
                                        </div>
                                        <div class="kt-widget__subhead">
                                            <a href="#"><i class="flaticon2-new-email"></i>{{u.email}}</a>
                                             <a href="#"><i class="flaticon2-phone"></i>{{u.numero}}</a>
                                        </div>
                                        <div class="kt-widget__info">
                                            <div class="kt-widget__desc">
                                                {{u.bioDescription}}
                                            </div>
                                            <div class="kt-widget__progress">
                                                <div class="kt-widget__text">
                                                    Progress
                                                </div>
                                                <div class="progress" style="height: 5px;width: 100%;">
                                                    <div class="progress-bar kt-bg-success" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <div class="kt-widget__stats">
                                                    78%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="kt-widget__bottom">
                                    <div class="kt-widget__item">
                                        <div class="kt-widget__icon">
                                            <i class="flaticon-piggy-bank"></i>
                                        </div>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Earnings</span>
                                            <span class="kt-widget__value"><span>$</span>249,500</span>
                                        </div>
                                    </div>
                                    <div class="kt-widget__item">
                                        <div class="kt-widget__icon">
                                            <i class="flaticon-confetti"></i>
                                        </div>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">Expenses</span>
                                            <span class="kt-widget__value"><span>$</span>164,700</span>
                                        </div>
                                    </div>


                                    <div class="kt-widget__item">
                                        <div class="kt-widget__icon">
                                            <i class="flaticon-chat-1"></i>
                                        </div>
                                        <div class="kt-widget__details">
                                            <span class="kt-widget__title">648 Comments</span>
                                            <a href="#" class="kt-widget__value kt-font-brand">View</a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                      </div>

                    </div>
                    {% endif %}
                    {% endfor %}



                    <!--Begin::pagination-->
                    <div class="row">
                        <div class="col-xl-12">

                            <!--begin:: Components/Pagination/Default-->
                            <div class="kt-portlet">
                                <div class="kt-portlet__body">

                                    <!--begin: Pagination-->
                                    <div class="kt-pagination kt-pagination--brand">
                                        <ul class="kt-pagination__links">
                                            <li class="kt-pagination__link--first">
                                                <a href="#"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                                            </li>
                                            <li class="kt-pagination__link--next">
                                                <a href="#"><i class="fa fa-angle-left kt-font-brand"></i></a>
                                            </li>
                                            <li>
                                                <a href="#">...</a>
                                            </li>
                                            <li>
                                                <a href="#">29</a>
                                            </li>
                                            <li>
                                                <a href="#">30</a>
                                            </li>
                                            <li class="kt-pagination__link--active">
                                                <a href="#">31</a>
                                            </li>
                                            <li>
                                                <a href="#">32</a>
                                            </li>
                                            <li>
                                                <a href="#">33</a>
                                            </li>
                                            <li>
                                                <a href="#">34</a>
                                            </li>
                                            <li>
                                                <a href="#">...</a>
                                            </li>
                                            <li class="kt-pagination__link--prev">
                                                <a href="#"><i class="fa fa-angle-right kt-font-brand"></i></a>
                                            </li>
                                            <li class="kt-pagination__link--last">
                                                <a href="#"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                                            </li>
                                        </ul>
                                        <div class="kt-pagination__toolbar">
                                            <select class="form-control kt-font-brand" style="width: 60px">
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                            <span class="pagination__desc">
														Displaying 10 of 230 records
													</span>
                                        </div>
                                    </div>

                                    <!--end: Pagination-->
                                </div>
                            </div>

                            <!--end:: Components/Pagination/Default-->
                        </div>
                    </div>
                    <!--End::pagination-->
                </div>
                <!-- end:: card -->
            </div>
        </div>
    </div>
</div>
<!-- end::card -->
</body>
<!-- end::Body -->

{% endblock   %}